
/* Note: You can write Sass in this file. */

body {
  background-color: black;
  color: white;
  font-size: 16px;
}

#main {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}
